from settings import *


DATABASE_ENGINE = 'mysql'      # 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
DATABASE_NAME = 'bhoma'        # Or path to database file if using sqlite3.
DATABASE_USER = 'bhoma'        # Not used with sqlite3.
DATABASE_PASSWORD = ''         # Not used with sqlite3.
DATABASE_HOST = ''             # Set to empty string for localhost. Not used with sqlite3.
DATABASE_PORT = ''             # Set to empty string for default. Not used with sqlite3.

MEDIA_ROOT = r"C:\Users\bhoma\source\bhoma\bhoma\data\\"

# Bhoma config

# your couch database configuration
BHOMA_COUCH_SERVER_ROOT   = "localhost:5984"
BHOMA_COUCH_DATABASE_NAME = "bhoma"
# If authentication is required, fill these in
BHOMA_COUCH_USERNAME = ""
BHOMA_COUCH_PASSWORD = ""

# national database configuration - where this install syncs to
BHOMA_NATIONAL_SERVER_ROOT = "bhoma.cidrz.org:5984"
BHOMA_NATIONAL_DATABASE_NAME = "national"
# If authentication is required, fill these in
BHOMA_NATIONAL_USERNAME = ""
BHOMA_NATIONAL_PASSWORD = ""

BHOMA_CLINIC_ID = "CHANGE_ME" # change to your local clinic code (examples below)
# BHOMA_CLINIC_ID = "5020280" # kafue railway
# BHOMA_CLINIC_ID = "5020" # kafue district
# BHOMA_CLINIC_ID = "50" # lusaka central


# where your xforms player runs
XFORMS_PLAYER_URL = "http://localhost:4444/"  

# Uncomment this line for a district server
# LOGIN_URL='/accounts/login/'


# email settings go here, if you want your server to be able to send emails
EMAIL_HOST = "smtp.gmail.com"
EMAIL_PORT = 587
EMAIL_HOST_USER = "<your username>@gmail.com"
EMAIL_HOST_PASSWORD = "<password>"
EMAIL_USE_TLS = True

# the default address that support emails go to
BHOMA_SUPPORT_EMAIL = "yourname@project.com"

# you should use your web server to serve static media
# change this to true if you'd like to continue having django do it
DJANGO_SERVE_STATIC_MEDIA = False

# if you have caching configured (memcache) you'll want something like this
# CACHE_BACKEND = 'memcached://127.0.0.1:11211/'