from settings import *


DATABASE_ENGINE = 'mysql'      # 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
DATABASE_NAME = 'bhoma'        # Or path to database file if using sqlite3.
DATABASE_USER = 'bhoma'        # Not used with sqlite3.
DATABASE_PASSWORD = ''         # Not used with sqlite3.
DATABASE_HOST = ''             # Set to empty string for localhost. Not used with sqlite3.
DATABASE_PORT = ''             # Set to empty string for default. Not used with sqlite3.

MEDIA_ROOT = r"C:\Users\bhoma\source\bhoma\bhoma\data\\"

# Bhoma config

BHOMA_COUCH_SERVER   = "http://localhost:5984"
BHOMA_COUCH_DATABASE_NAME = "patient"
BHOMA_COUCH_DATABASE = "%(server)s/%(database)s" % \
    {"server": BHOMA_COUCH_SERVER, "database": BHOMA_COUCH_DATABASE_NAME }

BHOMA_CLINIC_ID = "CHANGE_ME" # change to your clinic code: e.g. "5020280" for Kafue Railway

COUCHDB_DATABASES = (
            ('bhoma.apps.case',        BHOMA_COUCH_DATABASE), 
            ('bhoma.apps.encounter',   BHOMA_COUCH_DATABASE),
            ('bhoma.apps.patient',     BHOMA_COUCH_DATABASE),
            ('bhoma.apps.xforms',      BHOMA_COUCH_DATABASE),
            ("bhoma.apps.djangocouch", BHOMA_COUCH_DATABASE),
            ("bhoma.apps.profile",     BHOMA_COUCH_DATABASE),
        )

XFORMS_PLAYER_URL = "http://localhost:4444/"
