{% extends "layout.html" %}
{% block content %}
<h3>Which form would you like to export?</h3>
{% comment %}
<ul style="list-style:None; padding:0px">
    <li style="padding-top:10px; padding-bottom:10px">
        <strong><a href="{% url export_all_data %}">All forms (zip file)</a></strong>
    </li>
</ul>
{% endcomment %}
<div class="span-8">
<div class="boxed">
<strong>Clinic Forms</strong>
<ul>
    <li style="padding-top:10px">
        <a href="{% url patient_excel %}">patient (registration and case) data</a>
    </li>
{% for slug, encounter_info in clinic_encounters.items %}
    <li style="padding-top:10px">
        <a href="{% url model_download_excel %}?export_tag={{encounter_info.namespace}}&filename={{ encounter_info.name }}">{{ encounter_info.name }}</a>
    </li>
{% endfor %}
</ul>
</div>
</div>
<div class="span-8">
<div class="boxed">
<strong>CHW Forms</strong>
<ul>
{% for slug, encounter_info in chw_encounters.items %}
    <li style="padding-top:10px">
        <a href="{% url model_download_excel %}?export_tag={{encounter_info.namespace}}&filename={{ encounter_info.name }}">{{ encounter_info.name }}</a>
    </li>
{% endfor %}
</ul>
</div>
</div>
<div class="span-8 last">
<div class="boxed">
<strong>Aggregates</strong>
<ul>
    <li style="padding-top:10px">
        <a href="{% url model_download_excel %}?export_tag=http://cidrz.org/bhoma/mortality_register&filename=Mortality Register">Mortality Register Data</a>
    </li>
</ul>
</div>
</div>
{% endblock %}