{% extends "touchscreen/wrapper-raw.html" %}
{% block page_head %}
{% endblock %}
{% block header %}
{{ patient.first_name }} {{ patient.last_name }} ({{ patient.formatted_id|default:"UNKNOWN ID" }})
{% endblock %}
{% block touchscreen_content %}
<div class="container" style="font-size: 50%;">
<div id="patient-summary" class="span-13">
{% include "patient/partials/single_patient_summary.html" %}
<h3>Recent Visits</h3>
{% include "encounter/partials/encounter_list.html" %}
</div>
<div class="span-10 last">
{% include "patient/partials/encounter_choice_list.html" %}
{% if user.is_superuser %}
<h4 style="padding: 0px; margin-bottom: 5px;">Debug Tools</h4>
<div class="span-5">
<ul style="list-style: None; padding-left: 0px;">
    <li><a href="{% url futon patient.get_id %}">view patient in futon</a></li> 
    <li><a href="{% url export_patient patient.get_id %}">export patient</a></li> 
</ul>
</div>
<div class="span-5 last">
<ul style="list-style: None; padding-left: 0px;">
    <li><a href="{% url regenerate_patient_data patient.get_id %}">regenerate clinic data</a></li> 
    <li><a href="{% url patient_case_xml patient.get_id %}">get patient case xml</a></li> 
</ul>
</div>
{% endif %}
</div>
</div>


{% endblock %}