[submodule "bhoma/submodules/touchforms"]
	path = bhoma/submodules/touchforms
	url = https://github.com/dimagi/touchforms.git
[submodule "bhoma/submodules/djangocouch-src"]
	path = bhoma/submodules/djangocouch-src
	url = https://github.com/dimagi/djangocouch.git
[submodule "bhoma/submodules/couchversion-src"]
	path = bhoma/submodules/couchversion-src
	url = https://github.com/dimagi/couchversion.git
[submodule "bhoma/submodules/dimagi-utils-src"]
	path = bhoma/submodules/dimagi-utils-src
	url = https://github.com/dimagi/dimagi-utils.git
[submodule "bhoma/submodules/couchlog-src"]
	path = bhoma/submodules/couchlog-src
	url = https://github.com/dimagi/couchlog.git
