*.pyc
.project
.pydevproject
.settings/*
.idea/*
bhoma/localsettings.py
bhoma/scripts/localsshsettings.py
bhoma/data/*
bhoma/scripts/localsshsettings.py
bhoma/mobile/builds/
*~
*.class
*.db
bhoma/scripts/uptime/localemailsettings.py
