{% extends "layout.html" %}
{% block page_stylesheets %}
    <link rel="stylesheet" href="{{MEDIA_URL}}webapp/stylesheets/jquery-ui-bhoma/jquery-ui-1.8.4.custom.css" type="text/css">
    <link rel="stylesheet" href="{{MEDIA_URL}}webapp/datatables/css/demo_table_jui.css" type="text/css">
{% endblock %}
{% block page_javascripts %}
    <script type="text/javascript" src="{{MEDIA_URL}}webapp/javascripts/jquery-ui-1.8.4.custom.min.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}webapp/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        // datatable configuration.
        $(document).ready(function() {
            $('.datatable').dataTable({
                "bJQueryUI": true,
                "aaSorting": [[ 1, "desc" ]]
            });
        }); 
    </script>
{% endblock %}
{% block content %}
<br></br>
<h3>Sync history for <b>{{ chw.formatted_name }}</b> at {{ chw.current_clinic_display }}</h3>
<table class="datatable">
<thead>
    <tr>
        <th>Sync #</th>
        <th>Date</th>
        <th>Last sequence id</th>
        <th>Cases synced</th>
    </tr>
</thead>
<tbody>
{% for log in sync_data %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ log.date }}</td>
        <td>{{ log.last_seq }}</td>
        <td>{{ log.cases|length }}</td>
    </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}