{% extends "layout.html" %}
{% block page_stylesheets %}
    <link rel="stylesheet" href="{{MEDIA_URL}}webapp/stylesheets/jquery-ui-bhoma/jquery-ui-1.8.4.custom.css" type="text/css">
    <link rel="stylesheet" href="{{MEDIA_URL}}webapp/datatables/css/demo_table_jui.css" type="text/css">
{% endblock %}
{% block page_javascripts %}
    <script type="text/javascript" src="{{MEDIA_URL}}webapp/javascripts/jquery-ui-1.8.4.custom.min.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}webapp/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        // datatable configuration.
        $(document).ready(function() {
            $('.datatable').dataTable({
                "bJQueryUI": true
            });
        }); 
    </script>
{% endblock %}
{% block content %}

<table class="datatable">
<thead>
    <tr>
        <th>CHW</th>
        <th>Clinic</th>
        <th># syncs</th>
        <th>Last sync</th>
    </tr>
</thead>
<tbody>
{% for row in sync_data %}
    <tr>
        <td>{{ row.chw.formatted_name }}</td>
        <td>{{ row.chw.current_clinic_display }}</td>
        <td>{{ row.value }}</td>
        <td>{{ row.last_sync.date }}</td>
    </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}