{% extends "touchscreen/wrapper-raw.html" %}
{% block header %}
Shutting Down...
{% endblock %}
{% block touchscreen_content %}

<script language="javascript">

//all figures in seconds
BUFFER = {{ buffer }};
TIMEOUT = {{ timeout }};
POLL_INTERVAL = 1.;
REFRESH_INTERVAL = .1;

SHUT_DOWN = false;
START = null;
LAST = null;

function time () {
  return new Date().getTime() / 1000.;
}

function setVis (id, visible) {
  $('#' + id)[0].style.display = (visible ? 'block' : 'none');
}

function init () {
  setVis('shutting-down', true);

  START = time();
  LAST = START;

  refresh_timer = setInterval(refresh, REFRESH_INTERVAL * 1000);
  poll_timer = setInterval(poll, POLL_INTERVAL * 1000);
}

function refresh () {
  var now = time();
  if (!SHUT_DOWN && (now - LAST > BUFFER || now - START > TIMEOUT)) {
    SHUT_DOWN = true;
    clearInterval(refresh_timer);
    clearInterval(poll_timer);
    setVis('shutting-down', false);
    setVis('off', true);
  }
}

function poll () {
  jQuery.get('{% url bhoma.apps.webapp.views.ping %}', null, function (data) {
    if (data == 'alive') {
      LAST = time();
    }
  }, "json");
}

$(document).ready(init);

</script>

<div style="width: 100%; text-align: center; color: green; display: none" id="shutting-down">
<p style="padding-top: 60px;">The system is now shutting down...</p>
<img src="{{ MEDIA_URL }}formplayer/img/loading.png">
<p style="padding-top: 60px;">Do not turn off the power yet.</p>
</div>

<div style="width: 100%; text-align: center; color: blue; display: none" id="off">
<p style="padding-top: 150px;">The system is off.</p>
<p style="padding-top: 60px;">You may now disconnect the power.</p>
</div>


{% endblock %}
