{% extends "touchscreen/wrapper-raw.html" %}
{% load xform_tags %}
{% block page_head %}
{% block page_stylesheets %}
    <link rel="stylesheet" href="{{MEDIA_URL}}webapp/stylesheets/jquery-ui-bhoma/jquery-ui-1.8.4.custom.css" type="text/css">
    <link rel="stylesheet" href="{{MEDIA_URL}}webapp/stylesheets/scrolling.css" type="text/css">    
    <link rel="stylesheet" href="{{MEDIA_URL}}xforms/stylesheets/xforms.css" type="text/css">    
{% endblock %}
{% block page_javascripts %}
    <script type="text/javascript" src="{{MEDIA_URL}}webapp/javascripts/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}webapp/javascripts/jquery-ui-1.8.4.custom.min.js"></script>
    <script type="text/javascript">
	$(function() {
	    //change the main div to overflow-hidden as we can use the slider now
        $("#scroll-pane").css('overflow','hidden');
        
	    //calculate the height that the scrollbar handle should be
	    var difference = $("#scroll-content").height()-$("#scroll-pane").height();//eg it's 200px longer
	    if (difference <= 0) {
	       // no need to do any scrolling.  
	       $("#scroll-pane").css({width:948}); 
	       $("#slider-vertical").css({display:"none"});
	       $(".ui-slider-handle").css({dislpay:"none"});
	       return;
	    } 
	    var proportion = difference / $("#scroll-content").height();//eg 200px/500px
	    var handleHeight = Math.round((1-proportion)*$("#scroll-pane").height());//set the proportional height
                	 
	    //set up the slider 
	    $("#slider-vertical").slider({
	        orientation: "vertical",
	        range: "max", 
	        min: 0,
	        max: 100,
	        value: 100,
	        slide: function(event, ui) {
	            var topValue = -((100-ui.value)*difference/100);
	            $("#scroll-content").css({top:topValue});//move the top up (negative value) by the percentage the slider has been moved times the difference in height
                var sliderTop = -1 + ((100 - ui.value) * sliderHeight/100);
                $(".ui-slider-handle").css({top:sliderTop});   	            
	        }
	    });
	    //set the handle height
        $(".ui-slider-handle").css({height:handleHeight});  
	    $(".ui-slider-handle").css({top:-1});
	    
	    //now amend the height of the slider so that the handle doesn't stick out of the bottom...
        var origSliderHeight = $("#slider-vertical").height();//read the original slider height
        var sliderHeight = origSliderHeight - handleHeight;//height needs to be the original height - handle height +10px already accounted for
	    var sliderPaddingBottom =  origSliderHeight - sliderHeight;//need to increase the padding-bottom of the slider to compensate for the reduced height, add the original 15px back on
	    $("#slider-vertical").css({height:sliderHeight,'padding-bottom':sliderPaddingBottom});//set the slider height and padding-bottom
	    
	});
    </script>
{% endblock %}
{% endblock %}
{% block header %}
{{ patient.first_name }} {{ patient.last_name }} ({{ patient.formatted_id|default:"UNKNOWN ID" }})
{% endblock %}
{% block touchscreen_content %}
<div class="container" style="font-size: 50%;" >
{% include "encounter/partials/encounter_summary.html" %}
	<div id="scroll-pane">
	   <div id="scroll-content" class="xform_data">
	   {% render_form_data encounter.get_xform  %}
	   </div>
    </div>
    <div id="slider-vertical"></div>
</div>
{% endblock %}