<div style="margin-top: 10px;">
<center>
<h2>Add a Form</h2>

{% for slug, type in encounter_types.items %}
    <div id="{{slug}}-button" class="big-button" onclick="location.href='{% url new_patient_encounter patient.get_id slug %}'">
        <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
            <tbody>
                <tr>
                    <td align="center" valign="middle">{{ type.name }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endfor %}
</center>
</div>