<table>
	
{% for patient in patients %}
    {% if forloop.first %}
	<thead>
		<th>First Name</th>
		<th>Last Name</th>
        <th>Gender</th>
		<th>Date of Birth</th>
		<th>Clinic ID</th>
    </thead>
	{% endif %}	
    <tr class="{% cycle "odd" "even" %}">
    	<td><a href="{% url single_patient patient.get_id %}">{{ patient.first_name }}</a></td>
		<td>{{ patient.last_name }}</td>
        <td>{{ patient.gender }}</td>
		<td>{{ patient.birthdate }}</td>
		<td>{{ patient.clinic_ids|join:", " }}</td>
	</tr>
{% empty %} 
    <tr>Sorry, no patients here.</tr>
{% endfor %} 

<tr></tr>
</table>