<div>
  <div style="max-width: 520px; margin-top: 10px; position: relative;">
  <table border="0" style="width: 100%; border: 3px solid black; padding: 10px; background-color: white;">
    <tr><td class="prompt" width="20%">Sex:&nbsp;&nbsp;</td><td width="80%"><strong>{% if patient.gender %}{% ifequal patient.gender 'm' %}Male{% else %}Female{% endifequal %}{% else %}??{% endif %}</strong></td></tr>
    <tr><td class="prompt">Birthdate:&nbsp;&nbsp;</td><td><strong>{{ patient.birthdate|date:"d M Y"|default:"??" }} {% if patient.birthdate_estimated %}(est){% endif %}</strong></td></tr>
    <tr><td class="prompt">Age:&nbsp;&nbsp;</td><td>{% if patient.is_deceased %}<span class="important">DECEASED</span>{% else %}<strong>{{ patient.formatted_age|default:"??" }}</strong>{% endif %}</td></tr>
    <tr><td class="prompt">Village:&nbsp;&nbsp;</td><td><strong>{{ patient.address.village|default:"&#x2014;" }} 
                                                {% if patient.address.zone %}(zone {{ patient.address.zone }})
                                                {% else %}{% if patient.address.zone_empty_reason %}
                                                          ({{ patient.address.zone_empty_reason_display }})
                                                          {% endif %}
                                                {% endif %}</strong></td></tr>
    <tr><td class="prompt">Contact:&nbsp;&nbsp;</td><td><strong>{{ patient.default_phone|default:"&#x2014;" }}</strong></td></tr>
  </table>
  {% if not read_only %}
  <a href="{% url edit_patient patient.get_id %}">
    <div class="shiny-button" style="padding: 6px 15px;
                                     font-weight: bold;
                                     font-size: 110%;
                                     -moz-border-radius: 10px;
                                     position: absolute;
                                     right: 12px;
                                     top: 12px;">
      EDIT
    </div>
  </a>
  {% endif %}
  </div>
</div>
