{% extends "layout.html" %}
{% block page_stylesheets %}
    <link rel="stylesheet" href="{{MEDIA_URL}}webapp/stylesheets/tablesorter/style.css" type="text/css">
    <link rel="stylesheet" href="{{MEDIA_URL}}webapp/stylesheets/tablesorter/pager/jquery.tablesorter.pager.css" type="text/css">
{% endblock %}
{% block page_javascripts %}
    <script type="text/javascript" src="{{MEDIA_URL}}webapp/javascripts/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}webapp/javascripts/jquery.tablesorter.pager.js"></script>
    <script type="text/javascript">
    $(document).ready(function() { 
        $("table") 
            .tablesorter({widthFixed: true, widgets: ['zebra']}) 
            .tablesorterPager({container: $("#pager"), positionFixed: false}); 
    }); 
    </script>
{% endblock %}

{% block content %}
<h3>Exception Records</h3>
{% include "pager.html" %}
<table class="tablesorter">
<thead>
    <tr>
	    <th>clinic</th>
	    <th>date</th>
	    <th>type</th>
	    <th>message</th>
	    <!-- <th>stack_trace</th>  -->
	    <th>url</th>
	    <th>query params</th>
    </tr>
</thead>
<tbody>
{% for error in logs %}
    <tr>
        <td>{{ error.clinic_id }}</td>
        <td>{{ error.date }}</td>
        <td>{{ error.type }}</td>
	    <td>{{ error.message }}</td>
	    <!-- <td>{{ error.stack_trace|truncatewords:10 }}</td> -->
	    <td>{{ error.url }}</td>
	    <td>{{ error.query_params }}</td>
    </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}