{% extends "layout.html" %}
{% block page_imports %}
    {% include "imports/jquery-ui.html" %}
    {% include "imports/datatables.html" %}
{% endblock %}
{% block page_javascripts %}
    <script type="text/javascript">
        // datatable configuration.
        $(document).ready(function() {
            $('.datatable').dataTable({
                "bJQueryUI": true,
                "aaSorting": [[ 1, "desc" ]],
            });
        }); 
    </script>
{% endblock %}
{% block content %}
<h3>Cases that have duplicates</h3>
<table class="datatable">
<thead>
    <tr>
        <th>Case</th>
        <th>Count</th>
    </tr>
</thead>
<tbody>
{% for case_id, count in cases.items %}
    <tr>
        <td><a href="{% url duplicate_case_details case_id %}">{{ case_id }}</a></td>
        <td>{{ count }}</td>
    </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}