<div align="center" style="font-size: 80%;">
    <table border="0" style="border: 2px solid black; margin: 4px; padding: 3px; background-color: white;">
	    <tr>
	        <td>Type:&nbsp;&nbsp;<strong>{{ encounter.type }}</strong></td>
	        <td>Date:&nbsp;&nbsp;<strong>{{ encounter.visit_date|date:"d M Y" }}</strong></td>
            <td>Entered by:&nbsp;&nbsp;<strong>{{ encounter.metadata.username }}</strong></td>
	        <td>Entered on&nbsp;&nbsp;<strong>{{ encounter.metadata.time_end|date:"d M Y H:i" }}</strong></td>
	        <td>Clinic:&nbsp;&nbsp;<strong>{{ encounter.metadata.clinic_id }}</strong></td>
	    </tr>
	</table>
</div>