{% load case_tags %}
<table class="touchscreen" style="margin-left:-18px; table-layout:fixed;" width=500>
    <col width=14></col>
    <col width=100></col>
    <col width=110></col>
    <col width=276></col>
{% for encounter in encounters %}
    {% if forloop.first %}
        <thead>
            <th></th>
            <th>Date</th>
            <th>Visit Type</th>
            <th>Case Outcome</th>
        </thead>
        <tbody>
    {% endif %}
    {% if forloop.counter < 10 %}
        <tr>
            <td class="{{ encounter.dynamic_data.classification }}"></td>
            <td nowrap="true">{% if debug %}<a href="{% url sofa encounter.xform_id %}">{% endif %}
                {{ encounter.visit_date|date:"d M Y"|default:"No date found" }}
                {% if debug %}</a>{% endif %}
            </td>
            <td nowrap="true"><a href="{% url single_encounter patient.get_id encounter.get_id %}">{{ encounter.display_type }}</a></td>
            <td class="case_info">{% if encounter.dynamic_data.case %}
                    {% format_case encounter.dynamic_data.case %}
                {% else %}
                    <span class="none">no case</span>
                {% endif %}
                </td>
        </tr>
    {% endif %}
    {% if forloop.last %}
        </tbody>
    {% endif %}
{% empty %}
    <tr>
        <p>There aren't any visits recorded for this patient.</p>
        <p>Record a visit using the buttons to the right.</p>
    </tr>
{% endfor %}
</table>
