{# <p><a href="{% url new_encounter patient.get_id %}">+ new encounter</a></p> #}
<table class="touchscreen">
{% for encounter in encounters %}
    {% if forloop.first %}
        <thead>
            <th>Date</th>
            <th>Visit Type</th>
            <th>Case Outcome</th>
        </thead>
        <tbody>
    {% endif %}
        <tr>
            <td><a href="{% url sofa encounter.xform_id %}">{{ encounter.visit_date|date:"d M Y"|default:"No date found" }}</a></td>
            <td>{{ encounter.display_type }}</td>
            <td>TODO: Case Outcome</td>
        </tr>
    {% if forloop.last %}
        </tbody>
    {% endif %}
{% empty %}
    <tr>Sorry, no encounters here.</tr>
{% endfor %} 
</table>
